<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => { :current => 'Subscription_Units' } %>

<%= csrf_meta_tags %>

<div data-hook="admin_product_subscription_unit_new_header">
  <h2><%= t("creating_subscription_unit") %></h2>
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @subscribable_product } %>
</div>

<div data-hook="admin_product_subscription_unit_new_form">
  <div id="subscription_unit-form-wrapper">
    <%= form_for [@subscribable_product, @subscription_unit], :url => admin_subscribable_product_subscription_units_path(@subscribable_product), :method => :post do |f| %>
      <%= render 'form', :f => f  %>

      <p class="form-buttons" data-hook="buttons">
        <%= button t(:create) %>
        <span class="or"><%= Spree.t(:or) %></span>
        <%= link_to_with_icon 'icon-remove', Spree.t('actions.cancel'), admin_subscribable_product_subscription_units_path(@subscribable_product), :class => 'button' %>

		  </p>
    <% end %>
  </div>
</div>
